app/flows/storc.json
[{"id":"ed50036d.5572f","type":"tab","label":"Water Sensors","disabled":false,"info":"The atlas scientific PH stamps. "},{"id":"6aaf40c8.1e9aa","type":"tab","label":"Actions","disabled":false,"info":"These are the binary on offs of the system. \n\n1. Water pump\n2. Light"},{"id":"7d8ec3c3.9e616c","type":"tab","label":"Data","disabled":false,"info":"The data flow and data model"},{"id":"791d9afb.7db7f4","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\r","bin":"false","out":"char","addchar":true},{"id":"5ffb1994.3874f8","type":"serial out","z":"ed50036d.5572f","name":"","serial":"791d9afb.7db7f4","x":536,"y":194,"wires":[]},{"id":"9cad8310.80fd","type":"inject","z":"ed50036d.5572f","name":"Read","topic":"","payload":"r,<CR>","payloadType":"str","repeat":"","crontab":"","once":false,"x":122,"y":143,"wires":[["5ffb1994.3874f8"]]},{"id":"f5a6d85a.f46838","type":"debug","z":"ed50036d.5572f","name":"","active":true,"console":"false","complete":"false","x":726,"y":222,"wires":[]},{"id":"a42860fe.89bdd","type":"serial in","z":"ed50036d.5572f","name":"","serial":"791d9afb.7db7f4","x":520,"y":248,"wires":[["f5a6d85a.f46838"]]},{"id":"fe254c82.35822","type":"inject","z":"ed50036d.5572f","name":"Information","topic":"","payload":"i,<CR>","payloadType":"str","repeat":"","crontab":"","once":false,"x":138,"y":239,"wires":[["5ffb1994.3874f8"]]},{"id":"732bbc5a.6d1904","type":"inject","z":"ed50036d.5572f","name":"","topic":"","payload":"?,<CR>","payloadType":"str","repeat":"","crontab":"","once":false,"x":118,"y":279,"wires":[["5ffb1994.3874f8"]]},{"id":"dc59954c.6ad878","type":"inject","z":"ed50036d.5572f","name":"Temperature Compensation","topic":"","payload":"T,<CR>","payloadType":"str","repeat":"","crontab":"","once":false,"x":184,"y":374,"wires":[["5ffb1994.3874f8"]]},{"id":"1476f599.011bfa","type":"inject","z":"ed50036d.5572f","name":"Status","topic":"","payload":"Status,<CR>","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":418,"wires":[["5ffb1994.3874f8"]]},{"id":"4c924a29.b80b44","type":"inject","z":"ed50036d.5572f","name":"Enable/Disable LED","topic":"","payload":"L,<CR>","payloadType":"str","repeat":"","crontab":"","once":false,"x":154,"y":461,"wires":[["5ffb1994.3874f8"]]},{"id":"195bd525.71139b","type":"inject","z":"ed50036d.5572f","name":"Calibration","topic":"","payload":"Cal,<CR>","payloadType":"str","repeat":"","crontab":"","once":false,"x":126,"y":328,"wires":[["5ffb1994.3874f8"]]},{"id":"b7977c24.1f412","type":"inject","z":"ed50036d.5572f","name":"Enable/Disable Continuous Read","topic":"","payload":"C,<CR>","payloadType":"str","repeat":"","crontab":"","once":false,"x":196,"y":194,"wires":[["5ffb1994.3874f8"]]},{"id":"b4ab674c.f60c08","type":"inject","z":"ed50036d.5572f","name":"Slope","topic":"","payload":"Slope,<CR>","payloadType":"str","repeat":"","crontab":"","once":false,"x":111,"y":504,"wires":[[]]},{"id":"e713933c.93404","type":"comment","z":"ed50036d.5572f","name":"EZO Stamp Commands","info":"All commands are ascii strings or ascii characters","x":140.5,"y":40,"wires":[]},{"id":"2cdd9f5f.91dfb","type":"inject","z":"6aaf40c8.1e9aa","name":"On","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"x":142,"y":108,"wires":[["d1b1f5c3.fd8b08"]]},{"id":"2064422e.a23e3e","type":"inject","z":"6aaf40c8.1e9aa","name":"Off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":143,"y":180,"wires":[["d1b1f5c3.fd8b08"]]},{"id":"d1b1f5c3.fd8b08","type":"grovepi-relay","z":"6aaf40c8.1e9aa","name":"Pump","pin":"2","x":303,"y":140,"wires":[]},{"id":"b4c615fd.dab448","type":"inject","z":"6aaf40c8.1e9aa","name":"On","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"x":503,"y":100,"wires":[["39434fba.4f09c"]]},{"id":"4c3da6e3.771e18","type":"inject","z":"6aaf40c8.1e9aa","name":"Off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":503,"y":180,"wires":[["39434fba.4f09c"]]},{"id":"39434fba.4f09c","type":"grovepi-relay","z":"6aaf40c8.1e9aa","name":"Light","pin":"3","x":663,"y":140,"wires":[]},{"id":"bb7c7cfc.2026b","type":"comment","z":"6aaf40c8.1e9aa","name":"Relay Controls","info":"","x":116.5,"y":37,"wires":[]}]
